<app-page>
  <header>
    <h1>Sakila Move Database</h1>
  </header>
  <section>
    <h2>Buttons</h2>
    <div style="display: flex; gap: 1rem;">
      <button>Button</button>
      <button class="ghost">Ghost</button>
      <button disabled>Disabled</button>
      <a class="btn">Link</a>
    </div>
    <div style="margin-top: 1rem; display: flex; gap: 1rem;">
      <button class="info">Info</button>
      <button class="success">Success</button>
      <button class="warn">Warn</button>
      <button class="danger">Danger</button>
    </div>
    <h2>Alerts</h2>
    <app-alert type="info" message="Info."></app-alert>
    <app-alert type="success" message="Success."></app-alert>
    <app-alert type="warn" message="Warn."></app-alert>
    <app-alert type="danger" message="Danger."></app-alert>
    <h2>Misc.</h2>
    <app-spinner></app-spinner>
  </section>
</app-page>