@use "../../../../styles/theme";

.page-picker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  button {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  .slash {
    color: theme.$border-primary;
    font-size: 1.5rem;
  }
}

.page-info {
  text-align: center;
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-semibold;
  color: theme.$text-secondary;
}