@use "../../../../styles/theme";
@use "../../../../styles/colors";

:host {
  display: block;
  padding: 0.5rem;
  margin-block: 1rem;
  border: theme.$border-width solid currentColor;
  border-radius: theme.$border-radius-md;

  &[type="info"] {
    background: colors.$info-light;
    color: colors.$info-dark;
  }

  &[type="success"] {
    background: colors.$success-light;
    color: colors.$success-dark;
  }

  &[type="warn"] {
    background: colors.$warn-light;
    color: colors.$warn-dark;
  }

  &[type="danger"] {
    background: colors.$danger-light;
    color: colors.$danger-dark;
  }
}