:host {
  display: block;
  padding: 0.5rem;
  margin-block: 1rem;
  border: 2px solid currentColor;

  &[type="info"] {
    background: paleturquoise;
    color: darkblue;
  }

  &[type="success"] {
    background: palegreen;
    color: darkgreen;
  }

  &[type="warn"] {
    background: palegoldenrod;
    color: darkgoldenrod;
  }

  &[type="danger"] {
    background: pink;
    color: firebrick;
  }
}