$kombu: #356939;
$kombu-light: #669968;
$kombu-dark: #203023;

$dark: #181f1c;
$grey-dark: #4d524e;
$grey-mid: #b6bdb2;
$grey-light: #b3b4a8;
$light: #ecebe4;

$info: #2660A4;
$info-light: #95c1f3;
$info-dark: #102946;
$success: #26A96C;
$success-light: #8debbf;
$success-dark: #0b2e1d;
$warn: #d19c31;
$warn-light: #f5dba8;
$warn-dark: #493713;
$danger: #a70b44;
$danger-light: #eca7c0;
$danger-dark: #3a0217;