@use "theme";

@use "elements";
@use "components";

html, body {
  font-family: theme.$font-body;
  font-weight: theme.$font-weight-normal;
  font-size: theme.$font-size-md;
  background-color: theme.$background-primary;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}