button, a.btn {
  border: none;
  background-color: black;
  color: white;
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;

  height: 30px;
  padding-inline: 0.5rem;

  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #444;
  }

  &:disabled {
    cursor: not-allowed;
    background: #eee;
    color: grey;
  }
}

button.icon,
a.btn.icon {
  width: 30px;
  padding: 0;

  fa-icon {
    font-size: 1.1rem;
  }
}