@use "../theme";

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  background-color: theme.$background-secondary;
  border: theme.$border-width solid theme.$border-primary;
  border-radius: theme.$border-radius-sm;
  padding: 0.125rem 0.25rem;
  font-family: theme.$font-body;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: theme.$primary;
  }
}

textarea {
  width: 100%;
}