@use "../../../../styles/theme";

:host {
  width: 100%;
  background-color: theme.$text-primary;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: theme.$background-primary;
  margin: 0 auto;
  max-width: 1440px;
  height: 4rem;

  .nav-brand a {
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: bold;
    margin-left: 1rem;
    margin-block: 0.25rem;
    color: currentColor;
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-inline: auto;

    li {
      list-style: none;

      a {
        display: block;
        padding: 0.5rem 1rem;
        color: theme.$background-secondary;
        text-decoration: none;
        border-radius: theme.$border-radius-md;
        
        &:hover {
          color: theme.$background-primary;
          background-color: rgba(theme.$primary, 0.3);
        }
      }
    }
  }
}