@use "../../../../styles/theme";

:host {
  position: relative;
  padding-right: 1rem;
}

button, a.btn {
  font-weight: 600;
}

.actions {
  display: none;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
  background: theme.$border-primary;
  position: absolute;
  right: 0.5rem;
  top: 3.75rem;
  border-radius: theme.$border-radius-md;

  :host:focus-within & {
    display: flex;
  }
}