:host, form {
  display: contents;
}

form {
  display: flex;
}

input {
  border: 2px solid black;
  padding: 0.125rem 0.25rem;
  font-family: var(--font-body);
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: firebrick;
  }
}